name: Build KeyAuth dylib

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest'
      
      - name: Compile .dylib
        run: |
          xcrun --sdk iphoneos clang++ -arch arm64 -dynamiclib -fobjc-arc -std=c++17 \
            -framework UIKit -framework Foundation -framework Security \
            -o libkeyauth.dylib KeyAuth.mm
      
      - name: Upload dylib
        uses: actions/upload-artifact@v4
        with:
          name: libkeyauth
          path: libkeyauth.dylib
